{% block suggest_widget %}
    {% if multiple %}
        {% set full_name = full_name ~ '[]' %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% for item in value %}
            <option selected="selected" value="{{ item.id }}">{{ item.text }}</option>
        {% endfor %}
    </select>

    <script type="text/javascript">
        (function ($) {
            var $input = $('#{{ id }}');
            $input.select2({{ block('suggest_options') }});
        }(jQuery));
    </script>
{% endblock %}

{% block suggest_options %}
    {
        allowClear: !$input.prop('required'),
        placeholder: '{{ attr.placeholder|default('Search') }}',
        multiple: {{ multiple ? 1 : 0 }},
        width: '100%',
        ajax: {
            delay: 250,
            url: '{{ path('sirian_suggest', {name: suggester_name}) }}',
            dataType: 'json',
            data: function (params) {
                return {
                    q: params.term,
                    extra: {{ extra|default({})|json_encode|raw }}
                }
            },
            processResults: function (data, page) {
                return {
                    results: data.items,
                    more: data.hasMore
                }
            }
        }
    }
{% endblock %}
